@media (prefers-color-scheme: dark){
    body {
        background-color: #111111;
        font-family: verdana;
        text-align: center;
        color: #EEEEEE;
    }
    img{
        opacity: .6;
        transition: opacity .5s ease-in-out;
    }
    img:hover{
        opacity: 1;
    }
    canvas{
        opacity: .85;
    }
}
h1{
    font-size: 60px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 15px;
}
h4{
    font-size: 25px;
}
h5{
    font-size: 22px;
}
p{
    font-size: 20px;
    line-height: 2;
}