body{
    background-color: #DDDDDD;
    color: #111111;
    margin: 0px;
    font-family: 'Sarabun', sans-serif;
    font-size: 1.5em;
    text-align: center;
}
h1{
    margin: 1.6em;
    background-color: #CCCCCC;
    font-size: 3em;
    padding: 1em;
    margin: 0px;
    margin-bottom: 1em;
}
.button-block, .button{
    background-color: #EEEEEE;
    display: inline-block;
    border: 0.2em solid; /* Sliight borders, but not too significant */
    border-radius: 0.2em;
    margin: 1em;
    padding: 0.5em;
}
.button-block:hover, .button:hover{
    border: 0.4em solid #777777;
    margin: .9em; /* keep overall size about the same */
    padding: 0.4em;
}
.button{
    float: left;
}
h1{
    font-size: 2em;
    padding: 1em;
    margin: 0px;
    margin-bottom: 9rem;
}
h3{
    font-size: 1.3em;
}
.button-link{
    text-decoration: none;
    color: #111111;
    font-size: 1.2em; 
}
h1{
    text-align: center;
}
#timestamps{
    display: grid;
    grid-auto-flow: column;
    font-size: 0.7em;
}
.links{
    display: grid;
    grid-auto-flow: column;
    margin: 2em; 
}
footer{
    text-align: center;
    margin-top: 1.5em;
    padding-top: 1.5em;
    background-color: #CCCCCC;
}
footer div.links{
    margin: 1em;
}
.centered{
    display: flex;
    justify-content: center;
    margin-left: 2em;
    margin-right: 2em;
}
th, td{
    padding: 0.5em;
}
p{
    margin-left: 2em;
    margin-right: 2em;
}