body{
    background-color: #DDDDDD;
    color: #111111;
    margin: 0px;
    font-family: 'Sarabun', sans-serif;
    font-size: 1.5em;
    /*text-align: center;*/
}
.note{
    color: #666666;
    font-style: italic;
}
#content{
    margin: 0em 5em 0em 5em;
}
#timestamps{
    text-align: center;
}
h1{
    margin: 1.6em;
    background-color: #CCCCCC;
    font-size: 3em;
    padding: 1em;
    margin: 0px;
    margin-bottom: 1em;
}
.button-block, .button{
    background-color: #EEEEEE;
    display: inline-block;
    border: 0.2em solid; /* Sliight borders, but not too significant */
    border-radius: 0.2em;
    margin: 1em;
    padding: 0.5em;
}
.button-block:hover, .button:hover{
    border: 0.4em solid #777777;
    margin: .9em; /* keep overall size about the same */
    padding: 0.4em;
}
.button{
    float: left;
}
h1{
    font-size: 2em;
    padding: 1em;
    margin: 0px;
    margin-bottom: 9rem;
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    font-size: 1.3em;
}
h4{
    font-size: 1.15em;
    margin-left: 1.2em;
    margin-right: 1.2em;
}
img{
    margin-left: 2em;
    margin-right: 2em;
}
.button-link{
    text-decoration: none;
    color: #111111;
    font-size: 1.2em; 
}
#timestamps{
    display: grid;
    grid-auto-flow: column;
    font-size: 0.7em;
}
.links{
    display: grid;
    grid-auto-flow: column;
    margin: 2em; 
}
footer{
    text-align: center;
    margin-top: 1.5em;
    padding-top: 1.5em;
    background-color: #CCCCCC;
}
footer div.links{
    margin: 1em;
}
.centered{
    display: flex;
    justify-content: center;
    margin-left: 2em;
    margin-right: 2em;
}
th, td{
    padding: 0.5em;
}
p{
    margin-left: 2em;
    margin-right: 2em;
}
ul{
    text-align: left;
    padding-left: 6em;
}
pre{
    margin-left: 2em !important;
}
.code{
    /*display: inline-block;*/
    font-family: 'Courier Prime', monospace;
    background-color: #EEEEEE;
    /*border: 0.1em #555555 solid;*/
    padding: 0em 0.1em 0em 0.1em;
    border-radius: 0.2em;
}