body{
    margin: 0px;
    text-align: center;
    font-family: sans-serif;
}
h1{
    font-size: 2em;
    padding: 1em;
    margin: 0px;
    margin-bottom: 9rem;
}
h2{
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1rem;
    border: 0.2rem solid;
    border-radius: 1rem;
    background-color: #99ccff;
    margin: 1em 2em;
}
h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1em 2em;
}
nav{
    left: 0%;
    width: 100%;
}
nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    background-color: #6699ff;
}
nav ul li{
    font-size: 1.6rem;
    font-weight: bold;
    display: block;
    margin: 1em 0.5em;
    border: 0.2rem solid;
    border-radius: 1rem;
    width: 25%;
}
nav ul li a{
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: black;
}
.chapter{
    padding: 1em 0em;
}
.chapter div, #overlay div{
    padding: 1em 1em
}
.desc{
    margin: 1em 1em;
    padding: 0em;
    background-color: aliceblue;
    border: 0.2rem solid;
    border-radius: 0.6rem;
}
.desc{
    text-align: left;
}
.tags{
    margin: 1em;
    padding: 0em;
    background-color: aquamarine;
    border: 0.2rem solid;
    border-radius: 0.5rem;
    display: grid;
    grid-auto-flow: column;
}
.tag{
    font-size: 1.3em;
    font-weight: bold;
}
#overlay{
    padding: 1em 0em;
    background-color: white;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0%;
}
p{
    font-size: 1.2rem;
}
.desc ul li, .desc ol li{
    font-size: 1.4rem;
}